a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
	position: relative;
}
.box {
	width: 100vw;
	height: 100vh;
	background: url(../img/bg.jpg) no-repeat, center;
	background-size: cover;
}
.box_item {
position: absolute;
top: 0;
left: 0;
}

.box_item img {
width: 100vw;
height: 100vh;
}

.box_item p {
	display: inline-block;
}
.box_desc {
	position: absolute;
	top: 80px;
	right: 50px;
	width: 625px;
}
.box_desc h2 {
	font-weight: 700;
	margin-bottom: 10px;
}
.box_desc h3 {
text-transform: uppercase;
margin-bottom: 184px;
color: #5c5c5c;
}

.box_desc p {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #aeaeae;
	margin-bottom: 180px;
}
.box_desc a {
	font-size: 30px;
	padding: 32px 70px;
	background-color: #f4c13b;
	color: #fff;
	border-radius: 50px;
}
.box_desc a:hover {
	color: #3bba9d;
	box-shadow: 0 10px 70px 5px rgb(244, 193, 59);
}