@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.woff2') format('woff2'),
    url('../fonts/Archive.woff') format('woff'),
    url('../fonts/Archive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Archive', sans-serif;
}

* {
    box-sizing: border-box;
}

.box {
    position: relative;
    max-width: 680px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #ebebeb;
}

.tabs {
    padding-top: 30px;
    padding-left: 50px;
    border-bottom: 1px solid #d4dee5;
}

.tab {
    display: inline-block;
    text-align: center;
    margin-right: 12px;
    background-color: #fff;
    border: 1px solid #d4dee5;
    &:hover {
        cursor: pointer;
        border-color: #ebebeb;
    }
    & span {
        display: block;
        padding: 10px 10px;
        font-size: 13px;
        color: #7794aa;
        text-transform: uppercase;
        transition: all 0.5s;
        &:hover {
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            color: #fff;
            background-color: #6888a1;
        }
    }
}

.tab-contents {

    width: 280px;
    margin-top: 28px;
    margin-left: 50px;
    & label {
        font-size: 13px;
        color: #425666;
    }
    & input {
        display: block;
        min-width: 280px;
        padding: 10px 10px;
        margin-top: 11px;
        margin-bottom: 14px;
        border: 1px solid #d4dee5;
        border-radius: 5px;
    }
    & textarea {
        min-width: 280px;
        min-height: 208px;
        margin-top: 11px;
        border: 1px solid #d4dee5;
        border-radius: 5px;
    }
}

.btn {
    min-width: 221px;
    padding: 13px 19px;
    margin-top: 11px;
    margin-bottom: 27px;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    background-color: #aaee13;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    &:hover {
    	color: #fff;
    	background-color: #08ab08;
    }
}
.tab-content {
	display: none;
}
.tab-content-1 {
	display: block;
    position: absolute;
    display: block;
    top: 67px;
    right: 50px;
}